<MarketplaceDetails>
  <SmallAppTile>Icon_CDTT_99x99.png</SmallAppTile>
  <LargeAppTile>Icon_CDTT_173x173.png</LargeAppTile>
  <PCAppTile>Icon_CDTT_200x200.png</PCAppTile>
  <ScreenShots>01_Top.png;02_MenuItem.png;03_CountDown.png;04_Create.png;05_Update.png;06_Delete.png;07_HowToUse.png;;</ScreenShots>
</MarketplaceDetails>